{% extends 'base2.html' %}
{% load static %}
{% block head%}
<title>E-pochtaga xabar jo`natish</title>
<style>
    #header {
        background-color: #36A5C3;
    }
 
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center text-light px-5">
            <h2 style="padding-top: 70px;color: black;">Pochtaga xabar jo`natish</h2>
        </div>
        <div class="col-md-6   bg-light  shadow shadow-lg mx-auto">
            {% if status %}
            <div class="alert {{cls}}">{{status}}</div>
            {% endif%}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Kimga</label>
                    <input type="text" class="form-control" placeholder="Kimga" name="to" required>
                </div>
                <div class="form-group">
                    <label for="">Mavzu</label>
                    <input type="text" class="form-control" placeholder="Mavzu" name="sub"required>
                </div>
                <div class="form-group">
                    <label for="">Xabar</label>
                    <textarea name="msz" rows="5" placeholder="Xabarni jo`nating" class="form-control"required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Xabar jo`natish" class="btn btn-primary"
                    style="width:50%;border-radius:20px;">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}